p {
    width: 64%;
    margin: 4mm auto 0 auto;
}

ul {
    width: 64%;
    margin: 0 auto 100px auto;
}

form a {
    border-radius: 8px;
    margin-top: 10em;
    margin-bottom: -10em;
    padding: 0.8em;
    background-color: white;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}